{% extends "baseEntidad.html" %}
{% block title %}
Triatleta
{% endblock %}

{% block cabecera %}
<a href="/listadoTriatletas">Volver</a>
    <h1>Triatleta {{ triatleta.lugar }}</h1>
{% endblock %}

{% block datos %}
<ul>
    <li>Nombre: {{ triatleta.nombre }}</li>
    <li>Equipo: {{ triatleta.equipo }}</li>
    <li>Talla: {{ triatleta.talla }}</li>
    <li>Peso: {{ triatleta.peso }}</li>
    <li>Foto: <img src="data:image/png;base64,{{ triatleta.foto.encode('base64') }}"></li>
</ul>
{% endblock %}
{% block comentarios %}
<h1>Crear Comentario</h1>
<form action="/nuevo_comentario_triatleta">
    <input type="hidden" id="triatleta" name="triatleta" value="{{ triatleta.key.id() }}"/>
    Titulo: <input type="text" id="titulo" name="titulo"/>
    Comentario: <textarea id="comentario" name="comentario"></textarea>
    <input type="submit" value="Crear Comentario"/>
</form>

<h1>Comentarios</h1>
{% for c in comentarios %}
<ul>
    <li>Titulo: {{ c.titulo }}<br/>
        Autor: {{ c.autor }}<br/>
        Fecha: {{ c.fecha }}<br/>
        Valoracion: {{ c.valoracion }}<br/>
        Texto: {{ c.texto }}<br/>
        <form action="valorar_comentario_triatleta">
            <input type="hidden" id="id" name="id" value="{{ triatleta.key.id() }}" />
            <input type="hidden" id="id_comentario" name="id_comentario" value="{{ c.key.id() }}" />
            Valorar(0-5): <input type="number" min="0" max="5" id="valoracion" name="valoracion"/>
            <input type="submit" value="Enviar Valoracion"/>
        </form><br/>
        {% if c.autor==usuario %}
        <a href="/eliminar_comentario_triatleta?id={{ triatleta.key.id() }}&key={{ c.key.id() }}">Eliminar Comentario</a><br/>
        {% endif %}</li>
</ul>
{% endfor %}
{% endblock %}